In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data',sep=',',header=None)

In [3]:
Data.shape

(1994, 128)

In [4]:
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

# Extract Feature and target/goal

In [5]:
X = Data.loc[:,5:127]
#Y = Data.loc[:,[127]]

In [6]:
print(X.shape)
#print(Y.shape)

(1994, 123)

# convert ? to Nan

In [7]:
X = X.replace('?',np.nan)

In [8]:
X.dtypes.tail()

123     object
124     object
125    float64
126     object
127    float64
dtype: object

# need to change data types object to float in order to mean

In [9]:
X = X.convert_objects(convert_numeric=True)

g:\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [10]:
X.dtypes.tail()

123    float64
124    float64
125    float64
126    float64
127    float64
dtype: object

# Get sample mean

In [11]:
sample_mean = X.mean()
print(sample_mean.dtypes)
print(sample_mean.shape)

float64
(123,)

In [12]:
sample_mean.head()

5    0.057593
6    0.463395
7    0.179629
8    0.753716
9    0.153681
dtype: float64

In [13]:
#sample_mean = pd.DataFrame.as_matrix(sample_mean)
#print(type(sample_mean))
#print(sample_mean.shape)

In [14]:
#sample_mean = np.reshape(sample_mean, (1, -1))
#print(sample_mean.shape)

In [15]:
ind = X.columns
ind

Int64Index([  5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
            ...
            118, 119, 120, 121, 122, 123, 124, 125, 126, 127],
           dtype='int64', length=123)

In [ ]:
# X.loc[:,117].isnull().sum()

In [ ]:
# X.loc[:,117].replace(np.nan,sample_mean[117]).isnull().sum()

In [ ]:
# X.loc[:,117].replace(np.nan,sample_mean[117],inplace=True)

# replace Nan with sample mean

In [16]:
for i in range (0,ind.shape[0]):
    X.loc[:,ind[i]].replace(np.nan,sample_mean[ind[i]],inplace=True)

In [ ]:
#sample_mean[5]

In [ ]:
#sample_mean[ind[5]

# convert in to numpy array

In [17]:
X = pd.DataFrame.as_matrix(X)
print(X.shape)
print(type(X))
#Y = pd.DataFrame.as_matrix(Y)
#print(Y.shape)
#print(type(Y))

(1994, 123)
<class 'numpy.ndarray'>

In [ ]:
'''
no_features = (X.shape[1] - 1)
# as we still have target value at 123th column which will be separated later on
print(no_features)

'''

In [18]:
X.shape[0]

1994

In [19]:
# no of files for validation at per iteration
# X.shape[0] is the number of total examples
test_data_itr = int(np.ceil(X.shape[0]/5))
print(test_data_itr)

399

In [ ]:
# X[0:test_data_itr,:].shape

In [ ]:
#arr = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
#np.delete(arr,np.s_[2:],0)

In [20]:
def createData (filetype,filenumber,content):
    import numpy as np
    np.savetxt("F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-%s%s.csv" % (filetype,filenumber) , content, delimiter=",")

In [21]:
for i in range (0,5):
    strt_ind = i*test_data_itr
    if i == 4 :
        X_test = X[strt_ind:,:]
        X_train = np.delete(X,np.s_[strt_ind :],0)
    else :
        X_test = X[strt_ind :strt_ind + test_data_itr,:]
        X_train = np.delete(X,np.s_[strt_ind :strt_ind + test_data_itr],0)
    
    createData ('train',i,X_train)
    createData ('test',i,X_test)
    
    print(X_test.shape)
    print(X_train.shape)

(399, 123)
(1595, 123)
(399, 123)
(1595, 123)
(399, 123)
(1595, 123)
(399, 123)
(1595, 123)
(398, 123)
(1596, 123)

In [ ]:
'''
def createData (filetype,filenumber,content):
    #saveName = content
    #filetype = 'train'
    #filenumber = i
    #print(saveName)
    with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-%s%s.csv' % (filetype,filenumber) ,'w') as f:
        f.write(content)
        
        
'''

In [ ]:
'''
def createData (filetype,filenumber,content):
    #saveName = content
    #filetype = 'train'
    #filenumber = i
    #print(saveName)
    #with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-%s%s.csv' % (filetype,filenumber) ,'w') as f:
    #    f.write(content)
    import numpy as np
    np.savetxt("F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-%s%s.csv" % (filetype,filenumber) , content, delimiter=",")
    
    
'''

In [22]:
def getfile (filename):
    blah = pd.read_csv(filename,sep=',',header=None)
    blah = pd.DataFrame.as_matrix(blah)
    return blah

In [ ]:
'''
for i in range (0,4):
    saveName = 'name is sam'
    filetype = 'train'
    filenumber = i
    print(saveName)
    with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-%s %s.csv' % (filetype,filenumber) ,'w') as f:
        f.write(saveName)
        
'''

In [ ]:
'''
for i in range (0,4):
    saveName = 'name is %s' % i
    print(saveName)
    with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/text %s.csv' %i ,'w') as f:
        f.write(saveName)
        
'''

In [ ]:
#saveName = 'bubblePaint.%04d.ipynb' % newNum
#print "Saving %s" % saveName
#pygame.image.save(screen, saveName)

In [ ]:
#with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/text.csv','w') as f:
#    f.write(saveName)

In [ ]:
'''
import csv
with open('F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/text.csv','r') as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        
        
'''

In [ ]:
###############################################################################################################################




###############################################################################################################################

In [150]:
trainData = getfile("F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-train1.csv")
testData = getfile("F:/Winter 2018/Applied ML/winter 2018/Assignments/assignment 1/codes/CandC-test1.csv")

In [151]:
trainLabel = trainData[:,-1]
trainLabel = np.reshape(trainLabel,(-1,1))
trainLabel.shape

(1595, 1)

In [152]:
testLabel = testData[:,-1]
testLabel = np.reshape(testLabel,(-1,1))
testLabel.shape

(399, 1)

In [153]:
trainFeatures = trainData[:,0:-1]
trainFeatures.shape

(1595, 122)

In [154]:
testFeatures = testData[:,0:-1]
testFeatures.shape

(399, 122)

In [155]:
no_features = trainFeatures.shape[1] 
print(no_features)

122

In [156]:
def computeW (Xm_train,Y_train):
    a = np.dot(Xm_train.T,Xm_train) 
    a = np.linalg.pinv(a)
    W = np.dot(a, np.dot(Xm_train.T,Y_train))
    return W

In [166]:
def computeMSE (Hypothesis,Y):
    MSE = np.mean((Hypothesis-Y)**2) 
    return MSE

In [162]:
W = computeW (trainFeatures,trainLabel)
print(W.shape)

(122, 1)

In [172]:
trainHypothesis = np.dot(trainFeatures,W)
print(trainHypothesis.shape)

testHypothesis = np.dot(testFeatures,W)
print(testHypothesis.shape)

(1595, 1)
(399, 1)

In [173]:
trainMSE = computeMSE (trainHypothesis,trainLabel)
print(trainMSE)

testMSE = computeMSE (testHypothesis,testLabel)
print(testMSE)

0.014794852348657591
0.02519236700980506